h1, h6 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700 bold;
  color: #374249;
  padding-bottom: 50px;
}

h5 {
  color: #fff;
  font-size: 20px;
}

h6 {
  font-size: 18px;
  font-weight: 300;
}

.btn {
  padding: 15px 15px;
  border: 1px solid #cfd1d3;
  background-color: transparent;
  border-radius: 90px;
  color: #797979;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #797979;
  color: #fff;
  border: 1px solid #797979;
}

.clearfix {
  clear: both;
}

.hidden {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f7f9;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  background-color: #f75311;
  padding-left: 20px;
}
.location img {
  height: 40px;
}
.location a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}
.location a:hover {
  border-bottom: 1px solid #fff;
}

.navigation {
  background-color: #374249;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.navigation ul li {
  list-style: none;
  padding: 30px 0;
}
.navigation ul li a {
  color: #cfd1d3;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.navigation ul li a:hover {
  border-bottom: #cfd1d3 1px solid;
  transition: all 0.2s;
}

.welcome {
  background-color: #000;
  text-align: center;
}
.welcome h1 {
  padding: 10px 0 2px 0;
}
.welcome h6 {
  padding-bottom: 40px;
}

.prices {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}
.prices .wrapper {
  text-align: center;
}
.prices .wrapper .btn {
  margin: 20px 5px;
}

.estate {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.estate .estate-img {
  position: relative;
  margin-bottom: 30px;
}
.estate .estate-img:hover .estate-hover {
  display: block;
  cursor: pointer;
}
.estate .estate-img .img-overflow {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.estate .estate-img img {
  width: 90%;
}
.estate .estate-img .estate-hover {
  width: 90%;
  position: absolute;
  color: #000;
  top: -1px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: left;
  padding: 10px;
  background-color: rgba(243, 247, 249, 0.8);
  display: none;
}
.estate .estate-img .estate-hover h3 {
  padding: 15px;
}

.pricing {
  width: 100%;
  background-color: #fff;
  padding: 40px;
}
.pricing .pricing-titles, .pricing .button {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.pricing .pricing-titles p, .pricing .button p {
  font-family: "Roboto", sans-serif;
  color: #797979;
}
.pricing .tabels {
  display: none;
}
.pricing .button {
  margin-top: 30px;
  margin-bottom: 10px;
}

.maps {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.maps .maps-wrap {
  width: 80%;
  margin: 0 auto;
}

.form {
  width: 90%;
  background-color: #f75311;
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 70px;
}
.form select, .form input, .form textarea {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 7px;
  font-family: "Roboto", sans-serif;
}
.form textarea {
  height: 100px;
}

footer {
  background-color: #374249;
  text-align: center;
  padding: 10px;
}
footer h6 {
  display: inline-block;
  font-size: 17px;
  padding-right: 5px;
}
footer a {
  color: #f75311;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: all 0.3s;
}
footer a:hover {
  border-bottom: 1px solid #f75311;
}

@media only screen and (min-width: 650px) {
  .nav {
    display: flex;
  }
  .nav .location {
    width: 35%;
  }
  .nav .navigation {
    width: 100%;
  }
  .nav .navigation ul {
    height: 70px;
    flex-direction: row;
    padding: 0 40px;
    justify-content: flex-start;
  }
  .nav .navigation ul li {
    width: 100px;
  }

  .welcome {
    background-image: url(../slike/intro.jpg);
    height: 50vh;
    background-position: center left;
    background-size: cover;
    position: relative;
  }
  .welcome .wrap-text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
  }

  .prices .wrapper {
    max-width: 700px;
    margin: 0 auto;
    text-align: right;
    padding-right: 50px;
  }

  .estate {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .estate .estate-img {
    width: 300px;
  }
  .estate .estate-img .img-overflow {
    height: 250px;
    overflow: hidden;
  }
  .estate .estate-img img {
    width: 300px;
    height: 300px;
    padding: 10px;
  }
  .estate .estate-img .estate-hover {
    width: 300px;
  }

  .pricing {
    margin: 0 auto;
  }
  .pricing .pricing-titles, .pricing .button {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .pricing .pricing-titles p, .pricing .button p {
    font-family: "Roboto", sans-serif;
    color: #797979;
  }
  .pricing .tabels {
    max-width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-right: 10px;
  }
  .pricing .tabels .table {
    font-family: "Roboto", sans-serif;
    display: flex;
  }
  .pricing .tabels .table th, .pricing .tabels .table .devide {
    color: #fff;
    padding: 10px;
  }
  .pricing .tabels .table th {
    min-width: 270px;
    background-color: #f75311;
  }
  .pricing .tabels .table td {
    border: 1px solid #797979;
  }
  .pricing .tabels .table .orange-td {
    background-color: #f75311;
  }
  .pricing .tabels .table .devide {
    background-color: #374249;
    border: 1px solid #797979;
  }
  .pricing .tabels .table2 {
    float: right;
  }
  .pricing .button {
    display: none;
  }

  .maps {
    max-width: 700px;
    margin: 0 auto;
  }

  .form {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .form select {
    width: 15%;
    display: inline-block;
    flex-wrap: wrap;
    margin-bottom: 10px;
    float: left;
    margin-left: 30px;
  }
  .form .first-input {
    width: 70%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    float: right;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1300px) {
  .prices .wrapper {
    max-width: 1200px;
  }

  .estate {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .estate .estate-img {
    min-width: 300px;
  }
  .estate .estate-img .img-overflow {
    height: 100%;
  }
  .estate .estate-img img {
    width: 300px;
    height: 100%;
    padding: 10px;
  }

  .tabels {
    min-width: 900px;
  }
  .tabels .table th {
    min-width: 370px;
    background-color: #f75311;
  }
  .tabels .table td {
    min-width: 200px;
    border: 1px solid #797979;
  }
  .tabels .table .orange-td {
    background-color: #f75311;
  }
  .tabels .table .devide {
    background-color: #374249;
    border: 1px solid #797979;
  }
  .tabels .table2 {
    float: right;
  }

  .maps-form {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-right: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
