$font-main: 'Lato', sans-serif;

$color-font: #797979;
$color-headings: #374249;
$color-location: #f75311;
$color-buttons-hover: #cfd1d3;
$color-section-background: #f3f7f9;
$color-header-background: #374249;
