@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$orange: #f75311;
$bkg_darkblue: #374249;
$font_color: #797979;
$h_color: #374249;
$btn_hover:#cfd1d3;
$bkg_section:#f3f7f9;
$font_main:'Roboto', sans-serif;

